#body{
    font-family: sans-serif;
}
#header{
    /* position: fixed; */
}
#cont1{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
#foto-veic{
    width: 160px;
    height: 160px;
    border: solid 2px rgb(190, 124, 0);
    border-radius: 50%;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.76);
}
#vertical{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
}
#veic{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 50px 90px;
    justify-content: center;
}